* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.hero {
    background-image: url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
    background-size: cover;
    min-height: 100vh;
    color: white;
    font-size: 40px;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
}

.hero-area {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.socials {
    padding-bottom: 220px;
}

.social {
    margin: 30px;
}

.sub-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 60px;
    flex-wrap: nowrap;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px;
}

.headshot {
    width: 400px;
    border-radius: 50%;
    max-width: 90%;
    height: auto;
}

.headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    max-width: 600px;
}

.info-text {
    margin-bottom: 30px;
}

.info-text2 {
    margin-top: 30px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.project-title {
    font-size: 30px;
}

.project-card {
    padding: 30px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.project-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

hr {
    margin: 20px auto;
    width: 90%;
}

.project-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #ef744b;
}

.more-projects {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.footer {
    background-color: #1c1d25;
    padding: 50px;
}

/* Tablet & smaller screens */
@media only screen and (max-width: 1299px) {
    .sub-section {
        flex-wrap: wrap;
        gap: 40px;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-text,
    .info-text2 {
        text-align: center;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

/* Mobile screens */
@media (max-width: 768px) {
    .sub-section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }

    .headshot {
        width: 250px;
    }

    .information {
        margin-top: 1rem;
    }
    .hero-area {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
        padding: 40px 20px;
    }
    
    .hero-text {
        margin: 0;
    }
    
    .socials {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .social {
        margin: 10px;
    }
}