body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.active {
    background-color: #1c1d25;
}

.active ul li a {
    color: white;
}

.hero {
    background-image: url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
    background-size: cover;
    height: 110vh;
    color: white;
    font-size: 40px;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    padding-top: 20px;
}

.hero-area {
    display: flex;
    height: 130vh;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.socials {
    padding-bottom: 220px;
}

.social {
    margin: 30px;
}

.sub-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 30px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}

.headshot {
    width: 400px;
    border-radius: 50%;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.info-text {
    margin-bottom: 30px;
}

.info-text2 {
    margin-top: 30px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.project-title {
    font-size: 30px;
}

.project-card {
    padding: 30px;
    width: 300px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-image {
    margin: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #ef744b;
}

.contact-me {
    background-color: #1c1d25;
    color: white;
    text-align: center;
    padding: 50px;
}

.btn {
    border: none;
    text-decoration: none;
    background-color: #ef744b;
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

form {
    margin: 0 auto;
    width: 25%;
}

form input,
form textarea {
    width: 80%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

form .btn {
    padding: 15px 35px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.msg {
    color: #61b752;
    margin-top: 25px;
    display: block;
    font-size: 20px;
}


@media only screen and (max-width: 1000px) {
    .active {
        background-color: #1c1d25;
    }

    .active ul li a {
        color: white;
    }

    form .btn {
        padding: 10px 10px;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 10px;
        cursor: pointer;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
    }

    .sub-section {
        display: flex;
        flex-wrap: wrap;
    }
    
    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .info-text,
    .info-text2 {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .hero-text {
        display: flex;
        flex-direction: column;
        padding-top: 250px;
    }
}